# IDE Specific
*.csproj
*.pidb
*.sln
*.userprefs
*.unityproj
*.suo
ChatMage/Library/
ChatMage/Temp/
ChatMage/.vs/
.vs/
ChatMage/obj

# SourceTree Patch against .gitignore_global on Windows
!*.exe
!*.dll